@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: rgb(114, 210, 255);
}

.header {

    min-height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(87, 188, 235);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra */

}

.title {

    font-size: 55px;
    color: #2b2c2d;
    text-align: center;

}

.subtitle {

    font-size: 25px;
    color: #0a3662;
    text-align: center;

}

.container-main {
    display: flex;
    flex-direction: column; /* Asegura que las tarjetas se apilen verticalmente */
    align-items: center; /* Centra horizontalmente */
    justify-content: center; /* Centra verticalmente */
    min-height: 60vh; /* Ajusta la altura mínima del contenedor */
    padding: 20px; /* Opcional: margen interno */
}


.card {
    margin: 50px;
    padding: 20px;
    border-radius: 50px;
    background-color: rgb(77, 166, 207);
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra */
    max-width: 1000px;
    transition: all 0.5s ease;
}

.card:hover {

    background-color: rgba(77, 166, 207, 0.771);
    padding: 150px;

}

.btn-1 {
    display: block; /* Asegúrate de que el botón se comporte como un bloque */
    margin: 20px auto; /* Margen automático horizontal */
    text-align: center; /* Centra el texto dentro del botón */
    padding: 11px 35px;
    background-color: #0a3662;
    color: #F9FAFC;
    text-transform: uppercase;
    border-radius: 15px;
    width: 300px;
    transition: all 0.5s ease;
}

.btn-1:hover {
    background-color: #105090;
}

h2 {
    font-size: 55px;
    line-height: 70px;
    color: #0a3662;
    text-transform: uppercase;
    margin-bottom: 20px;
    text-align: center;
}

p {
    font-size: 16px;
    color: #ffffff;
    margin: 25px 0 45px 0;
    text-align: justify;
}

.banner_inferior {
    padding: 10px 0;
    background-color: #000000;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner_inferior_contenido {
    display: flex;
    justify-content: left;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.textBanner {

    color: white;

}
